.home__wrapper{
   width: 100%;
}
.main__banner{
   position: relative;
}
.banner__img img{
   width: 100%;
   height: 725px;
   object-fit: cover;
}
.banner__data{
   top: 0;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
}
.banner__data::before{
   content: "";
   position: absolute;
   background: rgba(0, 0, 0, 0.6);
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
   height: 725px;
}
.banner__data__box{
   z-index: 10;
}
.banner__data__box h3{
   font-size: 45px;
   color: #fff;
   font-family: Dosis, sans-serif;
   margin-top: 167px;
}
.banner__data__box h1{
   color: transparent;
   -webkit-text-fill-color: white;
   /* -webkit-text-stroke-color: white; */
   font-family: Dosis;
   font-size: 100px;
   font-weight: 800;
}
.banner__data__box p {
   width: 600px;
   font-size: 18px;
   color: #eee;
   letter-spacing: .5px;
   margin-top: 20px;
}
.buttons{
   display: flex;
   gap: 10px;
}
.buttons a{
   padding: 12px 35px;
   font-size: 18px;
   color: var(--bg-sy);
   background-color: var(--bg-yellow);
   border-radius: 5px;
   margin-top: 50px;
   font-weight: 600;
}
.buttons a:nth-child(2){
   background-color: transparent;
   border: 1px solid var(--bg-yellow);
   color: var(--bg-yellow);
   transition: .5s;
}
.buttons a:nth-child(2):hover{
   background-color: var(--bg-yellow);
   color: var(--bg-sy);
   transition: .5s;
}
.banner__story{
   margin-top: -5px;
   width: 100%;
   background-color: var(--bg-main);
}
.second__banner{
   padding-top: 100px;
   display: flex;
   flex-direction: row;
   padding-bottom: 100px;
}
.video__container{
   width: 570px;
   height: 380px; 
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}
.video__container .video__play__icon{
   position: absolute;
   font-size: 100px;
   color: #fff;
   cursor: pointer;
   transition: .3s;
}
.video__container .video__play__icon:hover{
   transform: scale(1.2);
   transition: .3s;
}
.video__container > img{
   width: 570px;
   height: 380px;
   border-radius: 10px;
   object-fit: cover;
}
.video__player{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.829);
}
.video{
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%);
}
.second__banner__data{
   margin-left: 30px;
}
.second__banner__data h5{
   font-size: 18px;
   font-family: Dosis, sans-serif;
   color: var(--sy-fontColor);
}
.second__banner__data h3{
   font-size: 36px;
   color: var(--py-fontColor);
   font-family: Dosis, sans-serif;
   margin-top: 7px;
}
.second__banner__data p{
   font-size: 18px;
   color: var(--sy-fontColor);
   margin-top: 20px;
}
.second__banner__data div{
   margin-top: 70px;
}
.second__banner__data div a{
   padding: 12px 35px;
   font-size: 18px;
   color: var(--bg-sy);
   background-color: var(--bg-yellow);
   border-radius: 5px;
   font-weight: 600;
}
